@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #E2D4B7;
    box-shadow: 0 16px 14px 0 #000;
    padding: 18px 24px;
    height: 380px;
    width: 345px;
}

.imageContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    padding: 10px;
    width: 100%;
}

.imageContainer:hover {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.imageContainer:hover .description {
    transition: opacity 0.3s;
    opacity: 1;
}

.imageContainer:hover .image {
    opacity: 0.1;
}

.imageContainer:hover .link {
    opacity: 1;
    transition: opacity 0.3s;
}

.image {
    max-height: 200px;
    max-width: 200px;
}

.title {
    color: var(--color-project-bg);
    font-size: 25px;
    font-weight: 700;
}

.descriptionContainer {
    position: absolute;
    text-align: center;
}

.description {
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
    opacity: 0;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-project-bg);
    padding: 2px 22px;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    opacity: 0;
    display: inline-block;
    margin-top: 20px;
}

.link:hover {
    color: var(--color-link);
}
