@import  "../../vars.css";

.container {
    color: var(--color-text);
    background-color: var(--color-container-bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding: 0 10%;
}

.modalBtn {
    text-decoration: none;
    background-color: var(--color-button);
    color: var(--color-text);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.modalBtn:hover {
    cursor: pointer;
}