@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 3%;
    font-family: var(--font-roboto);
    /* 
        90deg means horizontal
        70% into the element
    */
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
}

.description {
    font-size:  20px;
    font-family: vars(--font-roboto);
    margin-bottom: 5%;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25)
}

.heroImg {
    width: 45%; /* 45% of page */
    z-index: 1;

    animation-name: floating; /* name of animation*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; /* movement in and out of keyframe */
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px; /* slightly out of page */
    left: -5vw;
    border-radius: 764px;
    background: rgba(170, 165, 175, 0.1);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px; /* slightly out of page */
    right: -25vw;
    border-radius: 764px;
    background: rgba(170, 165, 175, 0.1);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
        margin-top: 49px;
        margin-left: 3%;
        margin-right: 3%;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 60px;
    }

    .description {
        margin-top: 10px;
        min-height: 80px;
    }
}