/* Allows us to import styles into files */

:root {
    /* Colors */
    --color-text: #fff;
    --color-button: #1E2019;
    --color-link: #E2D4B7;
    --color-container-bg: #1E2019;
    --color-project-bg: #1E2019;
    --color-bg: #587B7F;

    /* Fonts */
    --font-robot: "Roboto";
}